.container{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  font-family: 'Muli', sans-serif;
}

.box{
  width: 100%;
}
/* header */
.top{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.name{
  margin-left: auto;
  color: #2d3c49;
  letter-spacing: 1.2px;
  flex-direction: column;
  }

.hline{
  width: 100%;
  height: 3px;
  background-color: #7d97ad;
  border: 0;
}
/* Pic */
.pic
 img{
  height: 450px;
  width: 650px;
  max-width: 100%;
}
/* Intro */
.intro
 p{
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.5em;
  padding: 5px;
  color: #2d3c49;
}
 .intro
  a{
   text-transform: none;
   color: #02b3e4;
 }
/* Projects */
.project
 h1{
  text-align: center;
  color: #7d97ad;
}

#work {
  background: #2d3c49;
}

.responsive-img{
  width: 100%;
}

.grid{
  margin: 1rem;
}

.grid,
 a{
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  color: #fff;
}

.grid a:hover{
  color: #02b3e4;
}
/* Footer */
.bottom{
  text-align: center;
}

.bottom h1{
  color: #7d97ad;
}

.bottom p {
  text-transform: uppercase;
  font-size: 0.7em;
  color: #2d3c49;
}

ul {
  padding: 0;
}

.icon li{
  display: inline-flex;
  list-style: none;
  padding: 5px;
  transition: transform 0.3s;
}

.icon li:hover {
  transform: scale(1.2);
}

.fa-linkedin{
  color: #2d76b0;
}

.fa-github-square {
  color: #24292e;
}

.fa-twitter{
  color: #45a0ec;
}

.fa-free-code-camp {
  color: #006400;
}

.project, .bottom{
  padding: 10px 0;
}
/* Breakpoints */

@media screen and (min-width: 600px) {
  .pic, .intro{
    width: 50%;
  }
}
@media screen and (max-width: 500px){
  .pic img{
    height: 300px;
    width: 400px
  }
}
@media screen and (min-width: 690px) {
  #work{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .grid{
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
.grid{
    width: calc(33.3% - 2rem);
  }
}
